* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.wrapper {
  display: flex;
  width: 1100px;
  margin: auto;
}
.albums {
  width: 300px;
  background-color: rgba(208, 208, 208, 0.29);
  min-height: 100vh;
}
.albums .title {
  text-align: center;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
}
.albums li {
  padding: 15px;
  border-bottom: 1px solid white;
  cursor: pointer;
}
.albums li:hover {
  background-color: #d5e1f1;
}
.photos-wrap {
  padding: 10px;
  flex: 1;
}
.search {
  margin-bottom: 15px;
}
.search input {
  width: 100%;
  font-size: 14px;
  padding: 10px 15px;
  border: 1px solid brown;
  outline: none;
}
.photos {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}

.photo {
  width: 150px;
  margin-bottom: 10px;
  margin-right: 6px;
  box-shadow: 0 0 5px 0 rgba(123, 117, 117, 0.38);
  transition: .5s;
}
.photo:hover {
  box-shadow: 0 0 5px 0 rgba(123, 117, 117, 0.8);
  transform: translateY(-5px);
}
.photo .title {
  padding: 5px;
}
.checkAlboum {
  margin-left: 200px;
  margin-top: 30%;
  font-weight: bold;
  font-size: 22px;
}
.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}
.loading_item {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border-top: 40px solid #ff0000;
  border-right: 20px solid #26c600;
  border-bottom: 20px solid #3a5bff;
  border-left: 20px solid #f1d000;
  animation: 1s linear infinite running spin;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  25% {
    border-top: 20px solid #ff0000;
    border-right: 40px solid #26c600;
    border-bottom: 20px solid #3a5bff;
    border-left: 20px solid #f1d000;
  }
  50% {
    border-top: 20px solid #ff0000;
    border-right: 20px solid #26c600;
    border-bottom: 40px solid #3a5bff;
    border-left: 20px solid #f1d000;
  }
  75% {
    border-top: 20px solid #ff0000;
    border-right: 20px solid #26c600;
    border-bottom: 20px solid #3a5bff;
    border-left: 40px solid #f1d000;
  }
  to {
    border-top: 40px solid #ff0000;
    border-right: 20px solid #26c600;
    border-bottom: 20px solid #3a5bff;
    border-left: 20px solid #f1d000;
    transform: rotate(360deg);
  }
}

.active {
  background-color: #d5e1f1;
}